# This is for unifi-poller v2.
version: '3'
services:
  unpoller:
    restart: always
    image: ghcr.io/unpoller/unpoller:latest
    environment:
      - UP_INFLUXDB_DB=unpoller
      - UP_INFLUXDB_USER=unpoller
      - UP_INFLUXDB_PASS=793c8c327f9439bf
      - UP_INFLUXDB_ORG=main
      - UP_INFLUXDB_BUCKET=unpoller
      - UP_INFLUXDB_AUTH_TOKEN=cFhluWwwx83xJ9YfxgCM_GgKUTOpAVW3sfoXmfyxAfR0joON5oi5d19pI70ugJi_nijOab1xqEWfSvW51MW5mQ==
      - UP_INFLUXDB_URL=http://influxdb.lan:8086
      - UP_UNIFI_DEFAULT_USER=unpoller
      - UP_UNIFI_DEFAULT_PASS=wbYRtvqqJZsZ47f
      - UP_UNIFI_DEFAULT_URL=https://unifi.lan:8443
      - UP_POLLER_DEBUG=false
      - UP_UNIFI_DEFAULT_SAVE_DPI=false
    volumes:
      - /home/{{ ansible_user }}/unpoller/config:/etc/unpoller