#!/bin/bash

# generiert von ansible

LXC_PATH={{ LXC_PATH }}
DATE=`{{ LXC_DATE_COMMAND }}`
BACKUP_PATH={{ LXC_BACKUP_PATH }}

{% for item in container_list %}
echo mkdir -p "${BACKUP_PATH}/${DATE}/{{ item }}"
{% if hostvars[item].lxc_backup_before %}
lxc-attach -n {{ item }} -- {{ hostvars[item].lxc_backup_before }} # lxc_backup_before
{% endif %}
{% if hostvars[item].lxc_backup_stopped %}
echo lxc-stop {{ item }} # lxc_backup_stopped
{% endif %}
echo cp "{{ LXC_PATH }}/{{ item }}" "${BACKUP_PATH}/${DATE}/{{ item }}" -R
{% if hostvars[item].lxc_backup_stopped %}
echo lxc-start {{ item }} # lxc_backup_stopped
{% endif %}
{% if hostvars[item].lxc_backup_after %}
lxc-attach -n {{ item }} -- {{ hostvars[item].lxc_backup_after }} # lxc_backup_after
{% endif %}


{% endfor %}