global
        maxconn 4096
        user haproxy
        group haproxy
        log /dev/log local1 debug
        tune.ssl.default-dh-param 2048

defaults
        log     global
        mode    http
        compression algo gzip
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        option http-server-close
        option forwardfor
        maxconn 2000
        timeout connect 5s
        timeout client  15m
        timeout server  15m

frontend public
        bind :::80 v4v6
        bind :::443 v4v6 ssl crt /etc/ssl/snakeoil.pem
        option forwardfor except 127.0.0.1
        
{% for printer in octopi.printer %}
        use_backend {{ printer.name }} if { path_beg /{{ printer.name }}/ }
{% endfor %}
{% for webcam in octopi.webcam %}
        use_backend webcam-{{ webcam.name }} if { path_beg /webcam-{{ webcam.name }}/ }
{% endfor %}
        default_backend webcam-ender3

{% for printer in octopi.printer %}
backend {{ printer.name }}
    http-request replace-path /{{ printer.name }}/(.*) /\1
    option forwardfor
    server {{ printer.name }} 127.0.0.1:{{ printer.port }}
    acl needs_scheme req.hdr_cnt(X-Scheme) eq 0
    http-request add-header X-Scheme https if needs_scheme { ssl_fc }
    http-request add-header X-Scheme http if needs_scheme !{ ssl_fc }
    http-request add-header X-Script-Name /{{ printer.name }}
    errorfile 503 /etc/haproxy/errors/503-no-octoprint.http
{% endfor %}

{% for webcam in octopi.webcam %}
backend webcam-{{ webcam.name }}
    http-request replace-path /webcam-{{ webcam.name }}/(.*)   /\1
    option forwardfor
    server webcam-{{ webcam.name }}  127.0.0.1:{{ webcam.port }}
    acl needs_scheme req.hdr_cnt(X-Scheme) eq 0
    http-request add-header X-Scheme https if needs_scheme { ssl_fc }
    http-request add-header X-Scheme http if needs_scheme !{ ssl_fc }
    http-request add-header X-Script-Name /webcam-{{ webcam.name }}
    errorfile 503 /etc/haproxy/errors/503-no-webcam.http

{% endfor %}