{% for printer in octopi.printer %}
SUBSYSTEM=="tty", ATTRS{idVendor}=="{{ printer.idVendor }}", ATTRS{idProduct}=="{{ printer.idProduct }}", ATTRS{devpath}=="{{ printer.devpath }}", SYMLINK+="tty{{ printer.name }}"
{% endfor %}

{% for webcam in octopi.webcam %}
KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="{{ webcam.idVendor }}", ATTRS{idProduct}=="{{ webcam.idProduct }}", KERNELS=="{{ webcam.kernels }}", SYMLINK+="{{ webcam.device }}"
{% endfor %}