### Options for USB based cameras

# The port on which the webcam server for the camera should listen on.
PORT={{ item.port }}

# The path to the camera device.
DEVICE=/dev/{{ item.device }}

# The image format of the camera.
FORMAT=YUYV

# The resolution to set on the camera. Defaults to 1280x720.
WIDTH=1280
HEIGHT=720

# The framerate to set on the camera. Defaults to 15fps.
FRAMERATE=15

# Additional options.
OPTIONS="--http-listen=0.0.0.0"