dhcp-host=host,{{ lxc_host }}
{% for item in container_list %}
{% if hostvars[item].lxc_container.host == inventory_hostname %}
dhcp-host={{ hostvars[item].lxc_container.name }},{{ hostvars[item].ansible_host }}
{% endif %}
{% endfor %}