---
version: '3'
services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - /home/{{ ansible_user }}/{{ service_config.name }}/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
    
  mariadb:
    container_name: mariadb
    image: 'mariadb:latest'
    user: '99'
    ports:
      - '127.0.0.1:3306:3306' # Expose localhost only for Home Assistant
    volumes:
      - /opt/mariadb:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{vault[inventory_hostname]["hass"]["database"]["root_password"]}}
      - MYSQL_USER={{vault[inventory_hostname]["hass"]["database"]["user"]}}
      - MYSQL_PASSWORD={{vault[inventory_hostname]["hass"]["database"]["password"]}}
      - MYSQL_DATABASE=homeassistant
      - TZ=America/Chicago
    restart: always