---
version: "2.1"
services:
  heimdall:
    image: lscr.io/linuxserver/heimdall:latest
    container_name: heimdall
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /home/{{ ansible_user }}/{{ service_config.name }}/config:/config
    ports:
      - 3089:80
      - 3090:443
    restart: unless-stopped