version: '3'
services:
  jdownloader-2:
    image: jlesage/jdownloader-2
    ports:
      - "5800:5800"
    volumes:
      - "/home/{{ ansible_user }}/{{ service_config.name }}/config:/config:rw"
      - "/mnt/data/medien/_download/_downloadjd:/output:rw"