version: "2.3"

services:
  apprise:
    image: caronc/apprise:latest
    container_name: apprise
    environment:
      - TZ=UTC    # optional: set desired timezone
    # user: 1000:1000 # optional: replace with your own user/group or uid/gid
    volumes:
      - /home/{{ ansible_user }}/notification/apprise_config:/config
    ports:
      - 3381:8000
    restart: unless-stopped

  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    environment:
      TZ: UTC    # optional: set desired timezone
      NTFY_BASE_URL: http://home.debauer.net
      NTFY_CACHE_FILE: /var/lib/ntfy/cache.db
      NTFY_AUTH_FILE: /var/lib/ntfy/auth.db
      NTFY_AUTH_DEFAULT_ACCESS: deny-all
      NTFY_BEHIND_PROXY: true
      NTFY_ATTACHMENT_CACHE_DIR: /var/lib/ntfy/attachments
      NTFY_ENABLE_LOGIN: true
    user: 1000:1000 # optional: replace with your own user/group or uid/gid
    volumes:
      - /home/{{ ansible_user }}/notification/ntfy_cache:/var/cache/ntfy
      - /home/{{ ansible_user }}/notification/ntfy_etc:/etc/ntfy
      - /home/{{ ansible_user }}/notification/ntfy_varlib:/var/lib/ntfy
    ports:
      - 3380:80
    healthcheck: # optional: remember to adapt the host:port to your environment
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    restart: unless-stopped

  gotify:
    image: gotify/server
    container_name: gotify
    environment:
      - TZ=UTC    # optional: set desired timezone
    user: 1000:1000 # optional: replace with your own user/group or uid/gid
    volumes:
      - /home/{{ ansible_user }}/notification/gotify_data:/app/data
    ports:
      - 3382:80
    restart: unless-stopped