# The UID and GID of the user used to run paperless in the container. Set this
# to your UID and GID on the host so that you have write access to the
# consumption directory.
USERMAP_UID=1000
USERMAP_GID=1000


PAPERLESS_SECRET_KEY={{ vault[inventory_hostname]['paperless']['secret_key'] }}
PAPERLESS_TIME_ZONE=Europe/Berlin
PAPERLESS_OCR_LANGUAGE=deu

PAPERLESS_URL=https://{{ service_config.url }}
PAPERLESS_ALLOWED_HOSTS=localhost,{{ ansible_host }},{{ service_config.url }}
PAPERLESS_CORS_ALLOWED_HOSTS=https://{{ service_config.url }}