services:
    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        ports:
            - 9090:9090
        command:
            - --config.file=/etc/prometheus/prometheus.yml
            - --storage.tsdb.path=/database
            - --storage.tsdb.retention.time=5y
        volumes:
            - "/home/{{ ansible_user }}/{{ service_config.name }}/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
            - "/home/{{ ansible_user }}/{{ service_config.name }}/:/database"
        restart: unless-stopped
        extra_hosts:
            - "host.docker.internal:host-gateway"