---
services:
    restreamer:
        environment: &default_environment
            CORE_API_AUTH_USERNAME: admin
            CORE_API_AUTH_PASSWORD: secret

        image: datarhei/core:latest
        container_name: restreamer
        volumes:
            - /home/{{ ansible_user }}/usenet/sabnzbd/:/config
            - {{ usenet.downloads }}:/downloads
            - {{ usenet.downloads-incomplete }}:/incomplete-downloads
            - {{ usenet.downloads_nzbs }}:/nzbs
        ports:
            - 8080:8080

docker run --name core -d \
    -e CORE_API_AUTH_USERNAME=admin \
    -e CORE_API_AUTH_PASSWORD=secret \
    -p 8080:8080 \
    -v ${HOME}/core/config:/core/config \
    -v ${HOME}/core/data:/core/data \
    datarhei/core:latest