services:
  spacebin:
    image: spacebinorg/spirit:latest
    restart: always
    environment:
      - SPIRIT_CONNECTION_URI=postgres://spacebin:spacebin@postgres:5432/spacebin?sslmode=disable
    ports:
      - 9000:9000
    depends_on:
      - postgres
  postgres:
    image: postgres:16.3-alpine
    restart: always
    environment:
      - POSTGRES_USER=spacebin
      - POSTGRES_PASSWORD=spacebin
      - POSTGRES_DB=spacebin
    volumes:
      - /home/{{ ansible_user }}/share/spacebin_posgres:/var/lib/postgresql/data