version: "3.4"
services:
  tdarr:
    container_name: tdarr
    image: ghcr.io/haveagitgat/tdarr:latest
    restart: unless-stopped
    network_mode: bridge
    ports:
      - 8265:8265 # webUI port
      - 8266:8266 # server port
    environment:
      - TZ=Europe/London
      - PUID=1000
      - PGID=1000
      - UMASK_SET=002
      - serverIP=0.0.0.0
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true
      - inContainer=true
      - ffmpegVersion=6
      - nodeName=KarlNode
    volumes:
      - /home/{{ ansible_user }}/tdarr/server:/app/server
      - /home/{{ ansible_user }}/tdarr/configs:/app/configs
      - /home/{{ ansible_user }}/tdarr/logs:/app/logs
      - {{ usenet.serien1 }}:/serien1
      - {{ usenet.serien2 }}:/serien2
      - /mnt/data/medien:/medien
      - /home/{{ ansible_user }}/tdarr/cache:/temp