---
services:
    sabnzbd:
        environment: &default_environment
            PUID: 1000
            PGID: 1000
            TZ: Cet/CEST
        restart: &default_restart unless-stopped

        image: lscr.io/linuxserver/sabnzbd:latest
        container_name: sabnzbd
        volumes:
            - /home/{{ ansible_user }}/usenet/sabnzbd/:/config
            - {{ usenet.downloads }}:/downloads
            - {{ usenet.downloads_incomplete }}:/incomplete-downloads
            - {{ usenet.downloads_nzbs }}:/nzbs
        ports:
            - 8980:8080

    sonarr:
        environment: *default_environment
        restart: *default_restart

        image: lscr.io/linuxserver/sonarr:develop
        container_name: sonarr
        volumes:
            - /home/{{ ansible_user }}/usenet/sonarr/:/config
            - {{ usenet.serien1 }}:/series
            - {{ usenet.serien2 }}:/series2
            - {{ usenet.downloads }}:/downloads
        ports:
            - 8989:8989

    radarr:
        environment: *default_environment
        restart: *default_restart

        image: lscr.io/linuxserver/radarr:nightly
        container_name: radarr
        volumes:
            - /home/{{ ansible_user }}/usenet/radarr/:/config
            - {{ usenet.filme }}:/films
            - {{ usenet.downloads }}:/downloads
        ports:
            - 7878:7878

    prowlarr:
        environment: *default_environment
        restart: *default_restart

        image: lscr.io/linuxserver/prowlarr:develop
        container_name: prowlarr
        volumes:
            - /home/{{ ansible_user }}/usenet/prowlarr/:/config
        ports:
            - 9696:9696

    jellyfin:
        environment: *default_environment
        restart: *default_restart

        image: lscr.io/linuxserver/jellyfin
        container_name: jellyfin
        volumes:
            - /home/{{ ansible_user }}/usenet/jellyfin:/config
            - {{ usenet.serien1 }}:/series
            - {{ usenet.serien2 }}:/series2
            - {{ usenet.filme }}:/films
            - {{ usenet.musik }}:/musik
        ports:
            - 8096:8096

    jellyseerr:
        image: fallenbagel/jellyseerr:latest
        container_name: jellyseerr
        environment:
            TZ: ${TZ}
        ports:
            - 5055:5055
        volumes:
            - /home/{{ ansible_user }}/usenet/jellyseerr:/app/config
        restart: unless-stopped

    readarr:
        environment: *default_environment
        restart: *default_restart

        image: lscr.io/linuxserver/readarr:nightly
        container_name: readarr
        volumes:
            - /home/{{ ansible_user }}/usenet/readarr/:/config
            - {{ usenet.ebooks }}:/ebooks
            - {{ usenet.audiobooks }}:/audiobooks
            - {{ usenet.downloads }}:/downloads
        ports:
            - 8787:8787

    bazarr:
        environment: *default_environment
        restart: *default_restart

        image: lscr.io/linuxserver/bazarr:development
        container_name: bazarr
        volumes:
            - /home/{{ ansible_user }}/usenet/bazarr/:/config
            - {{ usenet.serien1 }}:/series
            - {{ usenet.serien2 }}:/series2
            - {{ usenet.filme }}:/films
        ports:
            - 6767:6767

    lidarr:
        image: lscr.io/linuxserver/lidarr:latest
        container_name: lidarr-david
        environment:
          - PUID=1000
          - PGID=1000
          - TZ=Etc/UTC
        volumes:
          - /home/{{ ansible_user }}/usenet/lidarr/config:/config
          - {{ usenet.musik }}/lidarr:/music
          - {{ usenet.downloads }}:/downloads
        ports:
          - 8686:8686
        restart: unless-stopped

    mylar3:
        image: lscr.io/linuxserver/mylar3:latest
        container_name: mylar3
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Etc/UTC
        volumes:
            - /home/{{ ansible_user }}/usenet/mylar3/config:/config
            - {{ usenet.comics }}:/comics
            - {{ usenet.downloads }}:/downloads
        ports:
            - 8090:8090
        restart: unless-stopped
